@media only screen and (max-width:1256px) {
    #top_nav {
        background-color: #2d00c1d6;
        font-size: 25px;
        font-family: 'Yatra One', cursive;
        padding-left: 78px;
    }

    #cont_text {
        font-size: 56px;
        font-family: 'Yatra One', cursive;
        text-align: center;
    }

    #btn2 {
        background-color: blue;
        border-radius: 10px;
        font-family: 'Yatra One', cursive;
        margin-top: 14px;
        margin-right: 92px;
    }

    #sociallinks {
        margin-top: 35px;
        border: 3px solid;
        border-block-end-style: dotted;
        writing-mode: horizontal-tb;
        font-size: 14px;
    }
}

@media only screen and (max-width:1017px) {
    #cont_text {
        font-size: 45px;
        font-family: 'Yatra One', cursive;
        text-align: center;
    }

    #sociallinks {
        margin-top: 35px;
        border: 3px solid;
        border-block-end-style: dotted;
        writing-mode: horizontal-tb;
        font-size: 11px;
    }

}

@media only screen and (max-width:828px) {
    #cont_text {
        font-size: 38px;
        font-family: 'Yatra One', cursive;
        text-align: center;
    }

    #cont_text_1 {
        background-color: rgb(49, 49, 200);
        height: 139px;
        width: 327px;
        border-radius: 15px;
        justify-items: center;
        font-family: 'Yatra One', cursive;
        text-align: center;
    }


}

@media only screen and (max-width:708px) {
    #cont_text {
        font-size: 34px;
        text-align: center;
    }

    #cont_text_1 {
        height: 139px;
        width: 327px;
        border-radius: 15px;
        text-align: center;
        font-size: 17px;
    }

    #sociallinks {
        margin-top: 35px;
        border: 3px solid;
        border-block-end-style: dotted;
        writing-mode: horizontal-tb;
        font-size: 10px;
    }

}

@media only screen and (max-width:639px) {
    #cont_text {
        font-size: 26px;
        font-family: 'Yatra One', cursive;
        text-align: center;
    }

    #cont_text_1 {
        background-color: rgb(49, 49, 200);
        height: 137px;
        width: 326px;
        border-radius: 15px;
        justify-items: center;
        font-family: 'Yatra One', cursive;
        text-align: center;
        font-size: 16px;
    }

    #btn3 {
        background-color: greenyellow;
        color: black;
        position: relative;
        margin-bottom: -88px;
        margin-top: -35px;
        block-size: 34px;
        border-radius: 30px;
        margin-left: 26px;
        font-family: 'Yatra One', cursive;
        text-align: start;
        font-size: 15px;
    }

    #sociallinks {
        margin-top: 35px;
        border: 3px solid;
        border-block-end-style: dotted;
        writing-mode: horizontal-tb;
        font-size: 9px;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 182px;
    }
}

@media only screen and (max-width:502px) {
    #cont_text {
        font-size: 21px;
        text-align: center;
    }

    #text_pera {
        justify-content: center;
        margin-top: 8px;
        color: white;
    }

    #cont_text_1 {
        height: 127px;
        width: 252px;
        border-radius: 12px;
        text-align: center;
        font-size: 14px;
    }

    #sociallinks {
        margin-top: 35px;
        border: 3px solid;
        border-block-end-style: dotted;
        writing-mode: horizontal-tb;
        font-size: 19px;
    }

    #btn1 {
        background-color: red;
        border-radius: 10px;
        font-family: 'Yatra One', cursive;
        font-size: 13px;
    }

    #btn2 {
        background-color: blue;
        border-radius: 10px;
        font-family: 'Yatra One', cursive;
        margin-top: 14px;
        margin-right: 66px;
        font-size: 13px;
    }

    #btn3 {
        background-color: greenyellow;
        color: black;
        position: relative;
        margin-bottom: -17px;
        margin-top: -35px;
        block-size: 30px;
        border-radius: 30px;
        margin-left: -67px;
        font-family: 'Yatra One', cursive;
        text-align: start;
        font-size: 11px;
    }

}

@media only screen and (max-width:417px) {
    #cont_text {
        font-size: 17px;
    }

    #cont_text_1 {
        background-color: rgb(49, 49, 200);
        height: 116px;
        width: 252px;
        border-radius: 12px;
        justify-items: center;
        font-family: 'Yatra One', cursive;
        text-align: center;
        font-size: 12px;
    }

    #sociallinks {
        margin-top: 35px;
        border: 3px solid;
        border-block-end-style: dotted;
        writing-mode: horizontal-tb;
        font-size: 16px;
    }



}

@media only screen and (max-width:349px) {
    #cont_text {
        font-size: 14px;
    }

    #cont_text_1 {

        height: 93px;
        width: 252px;
        font-size: 10px;
    }

    #btn1 {
        font-size: 9px;
    }

    #btn2 {

        margin-right: 33px;
        font-size: 12px;
    }

    #sociallinks {
        margin-top: 35px;
        font-size: 13px;
    }

    #btn3 {

        margin-bottom: -17px;
        margin-top: -35px;
        block-size: 23px;
        margin-left: -67px;
        font-size: 8px;
    }

}

@media only screen and (max-width:314px) {
    #cont_text_1 {
        height: 88px;
        width: 252px;
        font-size: 9px;
    }

    #cont_text {
        font-size: 13px;
    }

    #btn1 {
        font-size: 9px;
        margin-top: 18px;
    }

    #btn2 {
        margin-right: 33px;
        font-size: 10px;
    }

    #sociallinks {
        margin-top: 35px;
        font-size: 11px;
    }
}

@media only screen and (max-width:292px) {

    #imgld {
        width: 76px !important;
        margin-left: -20px;
    }

    #cont_text {
        font-size: 11px;
    }

    #cont_text_1 {
        height: 82px;
        width: 252px;
        font-size: 8px;
    }

    #btn1 {
        font-size: 7px;
        margin-top: 34px;
    }

    #btn2 {
        margin-right: 19px;
        font-size: 7px;
    }

    #sociallinks {
        margin-top: 11px;
        font-size: 10px;
    }

}