.flex-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 5px 10px;
    color: white;
    background-color: unset;
    border: 2px solid;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}

.my-2 {
    margin: 18px 219px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    background-color: rgb(156, 156, 255);
    
    
}

.my-1 {
    margin: 5px 0;
}

.text-center {
    text-align: center;
}